:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --secondary-text-color: #6a7280;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Dark Mode */
body.theme-dark {
    --background-color: #000000;
    --text-color: #ffffff;
    --secondary-text-color: #B6BBC4;
}

body{
    background-color: var(--background-color);
    user-select: none; /* disable selection */
    -webkit-user-select: none;
}

/* enable selection */
.selectable{
    user-select: auto;
    -webkit-user-select: auto;
}
/* 
- sizes are in 'em' units so they change relative to the base size set in their parent containers
- the font size in the parent containers are changed based on the device screen size
*/
p,a{
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-size: 0.9em;
}

h1{
    color: var(--text-color);
    font-family: 'Space Mono', monospace;
    font-size: 2em;
}
h2{
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}
h3{
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.2em;
}
h4{
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    font-size: 1em;
    font-weight: 400;
    text-decoration: underline;
}
h5{
    font-family: 'Inter';
    color: var(--secondary-text-color);
    font-size: 0.8em;
    font-weight: 400;
}

button{
    border: none;
    font-size: 1em;
    background-color: transparent;
}

ul{
    list-style-type: none;
    padding: 0; 
    margin: 0; 
  }

header{
    position: fixed;
    width: 100vw;

    top: 0;
    padding: 2rem 0;

    left: 50%;
    transform: translateX(-50%);

    z-index: 1000;

    display: flex;
    justify-content: center;
    background-color: var(--background-color);
    /*border-bottom: 1px solid var(--secondary-text-color);*/
}

header .container{
    width: 70vw;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
}

nav ul li{
    margin-left: 1rem;
    margin-right: 1rem;
}

nav ul li a{
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
a:active{
    text-decoration: none;
}

.heading-container{
    width: 80vw;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg > *{
    fill: var(--text-color)
}

/* snapping scroll between sections */
main{
    padding: 0 15vw;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    margin-top: 6em;
    height: 89vh;
}

section{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    scroll-snap-align: start;
    flex-wrap: wrap;
    margin: 1em;
}

.about{
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.about .container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.about-img{
    width: 18em;
}

.about .text-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* heading typing animation */
@keyframes typing {
    0% {
        width: 0;
    }
}
    
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.about .container > *{
    padding: 1em;
}

.about .heading{
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 8vw;

    width: 6ch;
    animation: typing 1s steps(6), blink .3s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid;
    margin-bottom: 0.3em;
}

.about .summary{
    width: 100%;
    text-align: left;
    margin: 0.2em;
}

#about-cv_button{
    text-align: left;
    color: var(--text-color);
    font-weight: 700;
    margin: 0.2em;
}

.about .exit{
    position: relative;
    bottom: 10%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about .exit > *{
    margin: 0.2em;
}

.cv > *{
    margin: 0.2em;
}

.projects > *{
    margin: 0.2em;
}

.find-me .container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1em;
}

.tab {
    padding-left: 0em;
}

@media only screen and (max-width: 767px) {
    /* Styles for screens up to 767px (typical iPhone portrait width) */
    .about-heading {
        font-size: 15vw;; /* Adjust the size as needed */
    }

    .about-summary {
        width: 80vw;
    }

    .cv > .container{
        flex-direction: column;
    }
}

@media only screen and (max-width: 375px) {
    main{
        padding: 0 15vw;
        margin-top: 6em;
        height: auto;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        scroll-snap-type: none;
    }
    
    section{
        scroll-snap-align: unset;
    }
}

.warning-landscape_mode{
    display: none;
}
@media only screen and (max-width: 800px) {
    .about .heading{
        font-size: 15vw;
    }
    .about .text-container{
        width: 100%;
    }
}
@media only screen and (max-height: 490px) {
    @media screen and (orientation: landscape) {
        .warning-landscape_mode{
            display: inline-block;
        }
        body{
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        body > *:not(:first-child) { /* targets every child except first one */
          /* Add styles to be applied when in landscape mode */
          display: none; 
        }
    }
}
  