:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --secondary-text-color: #6a7280;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Dark Mode */
body.theme-dark {
    --background-color: #000000;
    --text-color: #ffffff;
    --secondary-text-color: #B6BBC4;
}

body{
    background-color: var(--background-color);
    margin: 0;
    user-select: none; /* disable selection */
    -webkit-user-select: none;
}

/* enable selection */
.selectable{
    user-select: auto;
    -webkit-user-select: auto;
}

p,a{
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
}

h1{
    color: var(--text-color);
    font-family: 'Space Mono', monospace;
}
h2{
    color: var(--text-color);
    font-family: 'Inter', monospace;
    font-weight: 700;
}
h3{
    font-family: 'Space Mono', monospace;
    color: var(--text-color);
    font-weight: 400;
}
h4{
    font-family: 'Space Mono', monospace;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 400;
    text-decoration: underline;
}
h5{
    font-family: 'Inter';
    color: var(--secondary-text-color);
    font-size: 0.8rem;
    font-weight: 400;
}

button{
    border: none;
    font-size: 1rem;
    background-color: transparent;
}

ul{
    list-style-type: none;
    padding: 0; 
    margin: 0; 
  }

header{
    position: fixed;

    top: 0;
    padding: 2rem;
    width: 100vw;

    left: 50%;
    transform: translateX(-50%);

    z-index: 1000;

    display: flex;
    justify-content: center;
    background-color: var(--background-color);
    /*border-bottom: 1px solid var(--secondary-text-color);*/
}

header .container{
    width: 80vw;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
}

nav ul li{
    margin-left: 1rem;
    margin-right: 1rem;
}

nav ul li a{
    font-size: 0.8rem;
    font-weight: 700;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}
nav ul li a:active{
    text-decoration: none;
}

.heading-container{
    width: 80vw;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg > *{
    fill: var(--text-color)
}

/* snapping scroll between sections */
main{
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

section{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

/* heading typing animation */
@keyframes typing {
    0% {
        width: 0;
    }
}
    
@keyframes blink {
    50% {
        border-color: transparent;
    }
}
.about .heading{
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 8vw;

    width: 6ch;
    animation: typing 1s steps(6), blink .3s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid;
    margin-bottom: 0.3em;
}

.about .summary{
    width: 40vw;
    text-align: center;
}

#about-more_button{
    color: var(--text-color);
    text-decoration: underline; 
}

#about-more_summary{
    display: none;
}

.about .exit{
    position: relative;
    top: 10%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about .exit > *{
    margin: 3px;
}

.cv{
    display: flex;
}

.cv > .container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
}

.cv > .container > *{
    margin: 1rem;
}
.tab {
    padding-left: 0rem;
}

@media only screen and (max-width: 767px) {
    /* Styles for screens up to 767px (typical iPhone portrait width) */
    .about-heading {
        font-size: 15vw;; /* Adjust the size as needed */
    }

    .about-summary {
        width: 80vw;
    }

    .cv > .container{
        flex-direction: column;
    }
}

@media only screen and (max-width: 375px) {
    main{
        overflow-y: scroll;
        scroll-snap-type: none;
    }
    
    section{
        scroll-snap-align: unset;
    }
}

@media only screen and (max-width: 800px) {
    .about .heading{
        font-size: 15vw;
    }
    
    .about .summary{
        width: 80vw;
    }
}